language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

.Unit Tests: &test-unit
  before_script:
    - travis_retry composer self-update
    - travis_retry composer install --no-interaction --prefer-dist $COMPOSER_FLAGS

  script:
    - ./vendor/bin/phpunit $PHPUNIT_FLAGS

  after_script:
    - if [ $COVERAGE_REPORT ]; then travis_retry wget https://scrutinizer-ci.com/ocular.phar; fi
    - if [ $COVERAGE_REPORT ]; then travis_retry php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi

jobs:
  include:
    # Matrix Builds (7.4 - 8.1)
    - <<: *test-unit
      name: PHP 7.4
      php: 7.4
      env: COVERAGE_REPORT=1 PHPUNIT_FLAGS="--coverage-clover=coverage.clover"

    - <<: *test-unit
      name: PHP 8.0
      php: master
      env: COMPOSER_FLAGS="--ignore-platform-reqs"

    - <<: *test-unit
      name: PHP 8.1
      php: master
      env: COMPOSER_FLAGS="--ignore-platform-reqs"

    # Code Style
    - name: Code Style
      php: 7.4
      before_script:
        - travis_retry wget http://cs.sensiolabs.org/download/php-cs-fixer-v2.phar
      script:
        - php php-cs-fixer-v2.phar fix --dry-run --diff
