$bodyFontSize: 20px;

// Day (light) colors
html {
    --light-background: #efefef;
    --lighter-background: #fafafa;
    --text-color: #262626;
    --body-background: #fff;
    --link-color: #2f76c6;
    --light-border: #d0d0d0;
}

// Night (dark) colors
