@import "~@openfonts/raleway_latin/index.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "variables";
@import "~highlight.js/scss/atom-one-light";

html {
    height: 100%;
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--body-background);
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 170%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2rem 0 0 0;
    font-weight: normal;
    line-height: 100%;
}

h1 {
    font-size: 2.4em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid var(--light-border);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    color: #666;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    .anchor {
        display: none;
        float: left;
        margin-left: -2em;
        width: 2em;
        text-align: right;
        padding-right: 0.25em;
        box-sizing: border-box;
    }

    &:hover .anchor {
        display: inline-block;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
        color: var(--text-color);
    }
}

table {
    border-spacing: 0;
    padding: 0;
    margin: 0;

    td, th {
        &:first-child {
            border-left: none;
        }

        padding: .5em 1em;
        border-left: 1px solid var(--light-border);
    }

    thead {
        background-color: var(--lighter-background);

        th {
            text-align: left;
            border-bottom: 1px solid var(--light-border);
        }
    }

    tr:nth-child(even) {
        td {
            background-color: var(--lighter-background);
        }
    }

    tr:hover td {
        background-color: var(--light-background);
    }
}

.btn {
    color: var(--link-color);
    border: 1px solid var(--link-color);
    font-size: .75rem;
    padding: .5rem .5rem;
    line-height: 100%;
    display: inline-block;
    border-radius: .25rem;

    &:hover {
        color: var(--text-color);
        border-color: var(--text-color);
    }
}

#page-container {
    display: flex;
    height: 100%;

    #menu, #content {
        flex-grow: 1;
    }
}

pre {
    margin: 1em auto;
    line-height: 125%;
}

#menu {
    padding: 3rem 2rem 2rem 2rem;
    max-width: 12rem;
    background-color: var(--light-background);

    #logo {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        a {
            color: #666666;

            &:hover {
                color: #444;
            }
        }

        .github-link {
            display: block;
            float: right;
        }
    }

    nav {
        line-height: 150%;
        margin-bottom: 2rem;
        font-size: .75rem;

        .title {
            color: var(--men-section-title-font-color);
            text-transform: uppercase;
            font-weight: bold;
        }

        ul {
            list-style: none;
            list-style-position: outside;
            margin: .5rem 0 0 1em;
            padding: 0;

            li {
                margin: .5em 0 0 0;
                padding: 0;

                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}

#edit-current-page {
    float: right;
}

#content {
    overflow-y: scroll;

    article {
        padding: 3rem 2rem 3rem 4rem;
        max-width: 800px;

        p {
            text-align: justify;
        }

        h1 {
            margin-top: 0;
        }
    }
}
