name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - "2.x"

jobs:
  fix-code-style:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Run php-cs-fixer
        uses: docker://oskarstark/php-cs-fixer-ga

      - name: Run prettier
        uses: actionsx/prettier@v2
        with:
          args: --write .

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Fix code style!

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: [7.4, 8]

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP ${{ matrix.php-version }} with extensions"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: ${{ matrix.php-version }}

      - name: "Determine composer cache directory"
        id: "determine-composer-cache-directory"
        run: 'echo "::set-output name=directory::$(composer config cache-dir)"'

      - name: "Cache dependencies installed with composer"
        uses: "actions/cache@v1"
        with:
          path: "${{ steps.determine-composer-cache-directory.outputs.directory }}"
          key: "php-composer-cache"

      - name: "Run tests"
        run: "make -j -O test"
