name: "Danger JS"
on: [pull_request]

jobs:
  danger:
    name: Danger JS
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v1
      - name: Danger
        uses: docker://ghcr.io/danger/danger-js:10.6.6
        env:
          DANGER_DISABLE_TRANSPILATION: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
