name: reviewdog

on: [pull_request_target]

jobs:
  spellchecker:
    name: Spell check
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: reviewdog/action-languagetool@v1
        with:
          github_token: ${{ secrets.PAT }}
          level: info
          reporter: github-pr-review
